@use "../../utils" as *;

.cards_container {
  width: 90vw;
  margin-top: get-spacing-px(6);
  // border: 1px solid red;
  .card_container {
    width: 100%;
    padding: 0px get-spacing-px(6);
    gap: get-spacing-px(6);
  }
  .card_container_grid_view {
    // grid view
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(get-spacing-px(90), 1fr));
  }
  .card_container_list_view {
    // list view
    display: flex;
    flex-wrap: wrap;
  }
}
