@use "../../utils" as *;

$left-right-container-gap: 8;
$content-container-width: 90vw;

.vehicle_page {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // border: 1px solid red;
  .vehicle_seats_info_section {
    width: $content-container-width;
    margin-top: get-spacing-px(8);
    display: flex;
    flex-direction: column;
    gap: get-spacing-px(2);
    .vehicle_seats_status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: get-spacing-px(2);
      &__color {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border-width: 0px;
      }
    }
    .vehicle_seats_main {
      display: flex;
      gap: get-spacing-px($left-right-container-gap);
    }
  }
}
