@use "../../utils" as *;
@use "./index.module.scss" as vehicle;

.vehicle_seats_section {
  $container-width: vehicle.$content-container-width/2;
  width: $container-width;
  display: flex;
  flex-direction: column;
  gap: get-spacing-px(2);
  .super_deluxe_vehicle_seats {
    grid-template-columns: repeat(auto-fill, minmax($container-width/5.1, 1fr));
  }
  .hiaCe_vehicle_seats {
    grid-template-columns: repeat(auto-fill, minmax($container-width/4.1, 1fr));
  }
  .vehicle_seats {
    width: 100%;
    border: 3px solid get-color(null, container-border);
    border-radius: get-spacing-px(4);
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax($container-width/5.1, 1fr));
    .vehicle_seat {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition-duration: 200ms;
      &__driver_icon {
        font-size: 4rem;
        line-height: -10px;
        color: get-color(null, foreground-secondary);
        transition-duration: 200ms;
      }
      &__icon {
        font-size: 4rem;
        line-height: -10px;
        color: get-color(null, foreground-secondary);
        transition-duration: 200ms;
        &:hover {
          transform: scale(1.05);
          color: get-color(base, primary);
        }
        &:active {
          transform: scale(1);
        }
      }
      b {
        line-height: -10px;
        @include font-style(p, bold, primary);
        color: get-color(null, foreground-secondary);
      }
      p {
        line-height: -10px;
        @include font-style(ps, regular, primary);
        color: get-color(null, foreground-tertiary);
      }
    }
  }
}
