@use "../utils" as *;

.logo_container {
  //   min-width: get-spacing-px(80);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  &__logo {
    height: get-spacing-px(15);
    width: get-spacing-px(15);
  }
  &__text {
    @include font-style(h5, medium, secondary);
    color: get-color(null, foreground-primary);
  }
}
