@use "../utils" as *;

.container {
  position: absolute;
  .navbar {
    // border: 1px solid red;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px get-spacing-px(10);
    height: $navbar-height;
    &__logo_container {
      min-width: get-spacing-px(80);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-decoration: none;
      &__logo {
        height: get-spacing-px(15);
        width: get-spacing-px(15);
      }
      &__text {
        @include font-style(h5, medium, secondary);
        color: get-color(null, foreground-primary);
      }
    }
    &__nav_list {
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: get-spacing-px(4);
      a {
        @include font-style(p, regular, primary);
        color: get-color(null, foreground-primary);
        text-decoration: none;
      }
      &__active {
        color: get-color(base, secondary) !important;
      }
    }
    &__right_part {
      min-width: get-spacing-px(80);
      // border: 1px solid green;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: get-spacing-px(5);

      .theme_switcher_dark {
        justify-content: flex-end;
      }
      .theme_switcher_light {
        justify-content: flex-start;
      }
      .theme_switcher {
        width: get-spacing-px(14);
        border: 1px solid get-color(null, container-border);
        border-radius: get-spacing-px(10);
        display: flex;
        align-items: center;
        padding: get-spacing-px(1);
        cursor: pointer;
        &__theme_container {
          background-color: get-color(base, secondary);
          height: get-spacing-px(6);
          width: get-spacing-px(6);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          &__icon {
            height: 60%;
            width: 60%;
            color: get-color(base, white);
          }
        }
      }
      .theme_switcher:active {
        justify-content: flex-end;
      }
    }
  }
  .navbar_divider {
    border: 1px solid get-color(null, container-divider);
  }
}
