@use "../utils/function" as *;

.background_1st {
  //   border: 1px solid red;
  position: absolute;
  width: 100vw;
  top: 0px;
  height: 100vh;
  background-image: get-color(null, container-background-gradient-1st);
}

.background_2nd {
  //   border: 1px solid green;
  height: 100vh;
  background-image: get-color(null, container-background-gradient-2nd);
}
