@use "../utils" as *;

.container {
  //   border: 1px solid purple;
  width: get-spacing-px(110);
  $card-border-radius: 3;
  border-radius: get-spacing-px($card-border-radius);
  box-shadow: 0px 6px 20px rgba(#ffffff, 0.06);
  .card_image_container {
    // margin: get-spacing-px(5);
    .card_image {
      border-radius: get-spacing-px($card-border-radius)
        get-spacing-px($card-border-radius) 0px 0px;
      //   width: 100px;
      //   height: 100px;
    }
  }
  .card_info {
    // border: 1px solid red;
    padding: get-spacing-px(5);
    display: flex;
    flex-direction: column;
    gap: get-spacing-px(1);
    .card_title {
      @include font-style(h6, medium, primary);
    }
    .card_rating_review {
      display: flex;
      align-items: center;
      gap: get-spacing-px(2);
      .card_rating {
        display: flex;
        &__icon {
          color: get-color(base, rating-star);
          font-size: 1.5rem;
        }
        p {
          @include font-style(ps, regular, primary);
        }
      }
    }
    .card_departure_at,
    .card_price,
    .card_vehicle_type {
      // border: 1px solid yellow;
      display: flex;
      align-items: center;
      gap: get-spacing-px(2);
      &__icon {
        font-size: 2rem;
      }
      & p[data-card-p="key"] {
        @include font-style(ps, regular, primary);
      }
      & p[data-card-p="value"] {
        @include font-style(p, regular, primary);
      }
      // p::first-letter {
      //   color: blue;
      // }
      &:first-child {
      }
    }
  }
}
