@use "../utils" as *;

.container {
  $card-border-radius: 3;
  border-radius: get-spacing-px($card-border-radius);
  box-shadow: get-color(null, primary-box-shadow);
  cursor: pointer;
  transition-duration: 200ms;
  &:hover {
    transform: scale(1.02);
  }
  .card_image_container {
    .card_image {
      border-radius: get-spacing-px($card-border-radius)
        get-spacing-px($card-border-radius) 0px 0px;
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
  }
  .card_info {
    padding: get-spacing-px(5);
    display: flex;
    flex-direction: column;
    gap: get-spacing-px(1);
    .card_title {
      @include font-style(p, medium, primary);
    }
    .card_rating_review {
      display: flex;
      align-items: center;
      gap: get-spacing-px(2);
      .card_rating {
        display: flex;
        &__icon {
          color: get-color(base, rating-star);
          font-size: 1.3rem;
        }
      }
      p {
        @include font-style(ps, regular, primary);
      }
    }
    .card_departure_at,
    .card_price,
    .card_vehicle_type {
      // border: 1px solid yellow;
      display: flex;
      align-items: center;
      gap: get-spacing-px(2);
      &__icon {
        font-size: 1.5rem;
      }
      & p[data-card-p="key"] {
        @include font-style(pxs, regular, primary);
      }
      & p[data-card-p="value"] {
        @include font-style(ps, regular, primary);
      }
    }
  }
}
