@use "../utils" as *;

.container_list_view {
  // list view
  flex-grow: 1;
  width: 100%;
  display: flex;
}

.container {
  // grid view default
  $card-border-radius: 3;
  border-radius: get-spacing-px($card-border-radius);
  box-shadow: get-color(null, primary-box-shadow);
  cursor: pointer;
  transition-duration: 200ms;
  background-color: get-color(null, container-bg-primary-op-50);

  &:hover {
    transform: scale(1.02);
  }

  &:hover {
    transform: scale(1.02);
  }
  .card_image_container {
    .card_image {
      // grid view default
      border-radius: get-spacing-px($card-border-radius)
        get-spacing-px($card-border-radius) 0px 0px;
      width: 100%;
      height: 250px;
      object-fit: cover;
      object-position: center;
    }
    .card_image_list_view {
      // list view
      width: 300px;
      border-radius: get-spacing-px($card-border-radius) 0px 0px
        get-spacing-px($card-border-radius);
    }
  }
  .card_info {
    // grid view default
    padding: get-spacing-px(5);
    display: flex;
    flex-direction: column;
    gap: get-spacing-px(1);

    .card_title {
      @include font-style(p, medium, primary);
      color: get-color(null, foreground-primary);
    }
    .card_rating_review {
      display: flex;
      align-items: center;
      gap: get-spacing-px(2);
      .card_rating {
        display: flex;
        &__icon {
          color: get-color(base, rating-star);
          font-size: 1.3rem;
        }
      }
      p {
        @include font-style(ps, regular, primary);
        color: get-color(null, foreground-primary);
      }
    }
    .card_departure_at,
    .card_departure_from,
    .card_destination_place,
    .card_price,
    .card_vehicle_type {
      // border: 1px solid yellow;
      display: flex;
      align-items: center;
      gap: get-spacing-px(2);
      &__icon {
        font-size: 1.5rem;
        color: get-color(null, foreground-primary);
      }
      & p[data-card-p="key"] {
        @include font-style(pxs, regular, primary);
        color: get-color(null, foreground-tertiary);
      }
      & p[data-card-p="value"] {
        @include font-style(ps, regular, primary);
        color: get-color(null, foreground-primary);
      }
    }
  }
  .card_info_list_view {
    // list view
    gap: get-spacing-px(2);
  }
}
