@use "../utils/" as *;

@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: get-color(null, container-background-primary) !important;
  height: 100vh;
}

h1 {
  color: get-color(null, foreground-primary);
  @include font-style(h1, bold, primary);
}

:root {
  // primitive-colors
  @each $group-name, $colors in $primitive-colors {
    @each $key, $color in $colors {
      --clr-#{$group-name}-#{$key}: #{$color};
    }
  }
  // light mode color
  @each $key, $color in $light-mode-colors {
    --clr-#{$key}: #{$color};
  }

  // font variables
  @each $font-type, $values in $font {
    @each $type-value-key, $value in $values {
      --font-#{$font-type}-#{$type-value-key}: #{$value};
    }
  }
}

@media (prefers-color-scheme: dark) {
  // System dark mode
  :root {
    // dark mode color
    @each $color-type, $color in $dark-mode-colors {
      --clr-#{$color-type}: #{$color};
    }
  }
}

.light-mode {
  // light mode color
  @each $key, $color in $light-mode-colors {
    --clr-#{$key}: #{$color};
  }
}

.dark-mode {
  // dark mode using toggle button
  @each $color-type, $color in $dark-mode-colors {
    --clr-#{$color-type}: #{$color};
  }
}
