@use "../../utils" as *;

.container {
  $container-width: 220;
  border-radius: get-spacing-px(5);
  border: 1px solid get-color(null, container-border);
  width: get-spacing-px($container-width);
  background-color: get-color(null, container-bg-secondary-op-50);
  padding: get-spacing-px(8) get-spacing-px(16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: fit-content;
  .image {
    width: 30%;
  }
  &__divider {
    border: 1px solid get-color(null, container-divider);
    // height: get-spacing-px($container-height);
    height: 100%;
  }
  .search_form {
    padding: 0px get-spacing-px(2);
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: get-spacing-px(3);
    .select_item {
      cursor: pointer;
      border: 1px solid get-color(null, container-border);
      border-radius: get-spacing-px(2);
      background-color: get-color(null, container-background-primary);
      padding: get-spacing-px(2) get-spacing-px(6);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: get-spacing-px(5);
      width: 100%;
      &__icon {
        font-size: 1.8rem;
        color: get-color(null, foreground-secondary);
      }
      &__info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        p {
          @include font-style(p, bold, primary);
          color: get-color(null, foreground-secondary);
        }
        &__location {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: get-spacing-px(2);
          p {
            @include font-style(ps, regular, primary);
            color: get-color(gray, 400);
          }
        }
      }
    }
    .search_button {
      &__icon {
        font-size: get-spacing-px(5);
      }
    }
  }
}
