$primitive-colors: (
  base: (
    primary: #764af1,
    secondary: #4b55f2,
    tertiary: #ae4bf2,
    white: #ffffff,
    black: #000000,
  ),
  gray: (
    50: #f7f8f8,
    100: #edeef1,
    200: #d8dbdf,
    300: #b6bac3,
    400: #8e95a2,
    500: #6b7280,
    600: #5b616e,
    700: #4a4e5a,
    800: #383a42,
    900: #2c2d33,
    950: #25272c,
    1000: #141517,
  ),
);

$dark-mode-colors: (
  container-background-primary: #0a1321,
  container-background-secondary: #172234,
  container-border: #56657d,
  container-divider: #26364f,
  container-background-gradient-1st:
    linear-gradient(
      rgba(#ae4bf2, 0.2),
      rgba(darken(#ae4bf2, 20), 0.2),
      rgba(#000000, 0.2)
    ),
  container-background-gradient-2nd:
    linear-gradient(
      rgba(#0a1321, $alpha: 0.57),
      rgba(#0a1321, $alpha: 0.87),
      #0a1321
    ),
  container-bg-op-20:
    rgba(
      $color:
        map-get(
          map-get(
            $map: $primitive-colors,
            $key: base,
          ),
          $key: primary
        ),
      $alpha: 0.2,
    ),
  foreground-primary:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: base,
        ),
      $key: white,
    ),
  foreground-secondary:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: gray,
        ),
      $key: 50,
    ),
  foreground-tertiary:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: gray,
        ),
      $key: 100,
    ),
);

$light-mode-colors: (
  container-background-primary: #eeeff6,
  container-background-secondary:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: base,
        ),
      $key: white,
    ),
  container-border:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: gray,
        ),
      $key: 300,
    ),
  container-divider: #dddddd,
  container-background-gradient-1st:
    linear-gradient(
      rgba(#ae4bf2, 0.2),
      rgba(darken(#ae4bf2, 20), 0.2),
      rgba(#000000, 0.2)
    ),
  container-background-gradient-2nd: rgba(#eeeff6, 0.73),
  container-bg-op-20:
    rgba(
      $color:
        map-get(
          $map:
            map-get(
              $map: $primitive-colors,
              $key: base,
            ),
          $key: white,
        ),
      $alpha: 0.2,
    ),
  foreground-primary:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: gray,
        ),
      $key: 1000,
    ),
  foreground-secondary:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: gray,
        ),
      $key: 950,
    ),
  foreground-tertiary:
    map-get(
      $map:
        map-get(
          $map: $primitive-colors,
          $key: gray,
        ),
      $key: 700,
    ),
);
